In [1]:
import pandas as pd
import numpy as np

In [2]:
clusters_191223 = pd.read_csv('clusters_191223.csv')
flows_191223 = pd.read_csv('flows_191223.csv')

clusters_191224 = pd.read_csv('clusters_191224.csv')
flows_191224 = pd.read_csv('flows_191224.csv')

clusters_191225 = pd.read_csv('clusters_191225.csv')
flows_191225 = pd.read_csv('flows_191225.csv')

clusters_191226 = pd.read_csv('clusters_191226.csv')
flows_191226 = pd.read_csv('flows_191226.csv')

clusters_191227 = pd.read_csv('clusters_191227.csv')
flows_191227 = pd.read_csv('flows_191227.csv')

clusters_191228 = pd.read_csv('clusters_191228.csv')
flows_191228 = pd.read_csv('flows_191228.csv')

clusters_191229 = pd.read_csv('clusters_191229.csv')
flows_191229 = pd.read_csv('flows_191229.csv')

#### clusters

In [3]:
clusters_191223.head()

   Unnamed: 0                                       geometry    n
0           0   POINT (127.32670174084504 36.36723066197182)  351
1           1  POINT (127.36947489873414 36.343736841772134)  159
2           2  POINT (127.33373394163424 36.365855482490254)  246
3           3    POINT (127.33806547619051 36.3630397698413)  504
4           4   POINT (127.33718494252874 36.35645603065132)  278

In [4]:
clusters_191223.columns

Index(['Unnamed: 0', 'geometry', 'n'], dtype='object')

In [5]:
clusters_191223.drop(['Unnamed: 0'], axis=1, inplace=True)

In [6]:
clusters_191223['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191223.geometry]
clusters_191224['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191224.geometry]
clusters_191225['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191225.geometry]
clusters_191226['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191226.geometry]
clusters_191227['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191227.geometry]
clusters_191228['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191228.geometry]
clusters_191229['id'] = [x.replace('POINT (' , '').replace(')' , '') for x in clusters_191229.geometry]

In [7]:
clusters_191223['lat'] = [x.split(' ')[1] for x in clusters_191223.id]
clusters_191223['long'] = [x.split(' ')[0] for x in clusters_191223.id]

clusters_191224['lat'] = [x.split(' ')[1] for x in clusters_191224.id]
clusters_191224['long'] = [x.split(' ')[0] for x in clusters_191224.id]

clusters_191225['lat'] = [x.split(' ')[1] for x in clusters_191225.id]
clusters_191225['long'] = [x.split(' ')[0] for x in clusters_191225.id]

clusters_191226['lat'] = [x.split(' ')[1] for x in clusters_191226.id]
clusters_191226['long'] = [x.split(' ')[0] for x in clusters_191226.id]

clusters_191227['lat'] = [x.split(' ')[1] for x in clusters_191227.id]
clusters_191227['long'] = [x.split(' ')[0] for x in clusters_191227.id]

clusters_191228['lat'] = [x.split(' ')[1] for x in clusters_191228.id]
clusters_191228['long'] = [x.split(' ')[0] for x in clusters_191228.id]

clusters_191229['lat'] = [x.split(' ')[1] for x in clusters_191229.id]
clusters_191229['long'] = [x.split(' ')[0] for x in clusters_191229.id]

In [8]:
clusters_concat =  pd.concat([clusters_191223, clusters_191224, clusters_191225, clusters_191226, clusters_191227, clusters_191228, clusters_191229])
clusters_concat.to_csv('final/location_final.csv')

### flows

In [9]:
flows_191223.head()

,Unnamed: 0,geometry,weight,time
0,0,LINESTRING (127.32670174084504 36.367230661971...,55,2019-12-23 01:00:00
1,1,LINESTRING (127.33373394163424 36.365855482490...,3,2019-12-23 01:00:00
2,2,"LINESTRING (127.331243 36.361881, 127.33806547...",3,2019-12-23 01:00:00
3,3,LINESTRING (127.33806547619051 36.363039769841...,52,2019-12-23 01:00:00
4,4,LINESTRING (127.33718494252874 36.356456030651...,68,2019-12-23 01:00:00

In [10]:
flows_191223.columns

Index(['Unnamed: 0', 'geometry', 'weight', 'time'], dtype='object')

In [11]:
flows_191223.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191224.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191225.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191226.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191227.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191228.drop(['Unnamed: 0'], axis=1, inplace=True)
flows_191229.drop(['Unnamed: 0'], axis=1, inplace=True)

In [12]:
flows_191223['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191223['geometry']]
flows_191223['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191223['geometry']]

flows_191224['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191224['geometry']]
flows_191224['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191224['geometry']]

flows_191225['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191225['geometry']]
flows_191225['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191225['geometry']]

flows_191226['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191226['geometry']]
flows_191226['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191226['geometry']]

flows_191227['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191227['geometry']]
flows_191227['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191227['geometry']]

flows_191228['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191228['geometry']]
flows_191228['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191228['geometry']]

flows_191229['origin'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[0] for x in flows_191229['geometry']]
flows_191229['dest'] = [x.replace('LINESTRING (' , '').replace(')' , '').split(",")[1] for x in flows_191229['geometry']]

In [13]:
flows_191223.head()

,geometry,weight,time,origin,dest
0,LINESTRING (127.32670174084504 36.367230661971...,55,2019-12-23 01:00:00,127.32670174084504 36.36723066197182,127.33373394163424 36.365855482490254
1,LINESTRING (127.33373394163424 36.365855482490...,3,2019-12-23 01:00:00,127.33373394163424 36.365855482490254,127.331243 36.361881
2,"LINESTRING (127.331243 36.361881, 127.33806547...",3,2019-12-23 01:00:00,127.331243 36.361881,127.33806547619051 36.3630397698413
3,LINESTRING (127.33806547619051 36.363039769841...,52,2019-12-23 01:00:00,127.33806547619051 36.3630397698413,127.33718494252874 36.35645603065132
4,LINESTRING (127.33718494252874 36.356456030651...,68,2019-12-23 01:00:00,127.33718494252874 36.35645603065132,127.34069466666668 36.35413744444444

In [14]:
flows_concat = pd.concat([flows_191223, flows_191224, flows_191225, flows_191226, flows_191227, flows_191228, flows_191229])

In [15]:
flows_concat.to_csv('final/flows_final.csv')